.child-list-container {
  padding: 1rem;
  background-color: #f8f9fa;
}

.error {
  color: red;
  margin-bottom: 1rem;
}

.table th,
.table td {
  text-align: center;
}

.action-button {
  margin-right: 0.5rem;
}

.back-button {
  margin-top: 20px;
}
