.child-register-container {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.child-register-home-button {
  position: fixed; /* Fix the button in the viewport */
  top: 20px; /* Position from the top of the page */
  left: 20px; /* Position from the left of the page */
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.child-register-title {
  text-align: center;
  margin-bottom: 20px;
}

.child-register-form-group {
  margin-bottom: 15px;
}

.child-register-label {
  display: block;
  margin-bottom: 5px;
}

.child-register-input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.child-register-button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}
