.user-list-container {
  padding: 1rem;
}

.error {
  color: red;
  margin-bottom: 1rem;
}

.table th,
.table td {
  text-align: center;
}

.action-button {
  margin-right: 0.5rem;
}

.back-to-home-button {
  margin-top: 1rem;
}
